body, html, #shoe, .deck {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0px;
}

/**
 *   Header taskbar styles
 */

header#taskbar {
  background: #CCCCCC;
  color: #FFFFFF;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 10px;
  
  h1.branding {
    margin: 0px;
    float: left;
    width: 71px;
    height: 100%;
    text-indent: -10000px;
    overflow: hidden;
    border: 1px solid red;
  } 
  
}


.deck {
 
  position: relative;
 
  .card {
    height: inherit;
    width: 100%;
    left: -100%;
    overflow: auto;
    position: absolute;
  }
  
  .card.active {
    left: 0px;
  }

}

.list {
  margin: 0;
  padding: 0;
}

.video-list {
  
  li {
    
    padding: 10px;
    clear: both;
    overflow: hidden;
    height: 100px;
    display: block;
    
    .teaser {
      float: left;
      margin: 0 10px 0 0;
    }
    
    .more {
 
      display: block;
      height: 90px;
      overflow: hidden;
      text-overflow: ellipsis;
      
      h2 {
        margin: 0 0 10px;
      }
      
      p {
        margin: 0;
      }
      
    }
  }
}
